.gdb_history
*.log
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf
*.img
rpi4_firmware/armstub/.vscode/targets.log
rpi4_firmware/armstub/.vscode/settings.json
rpi4_firmware/armstub/.vscode/dryrun.log
rpi4_firmware/armstub/.vscode/configurationCache.log
rpi4_firmware/armstub/armstub8-gic.tmp
